.floats .columns {
  font-size: 0;
}
.floats .columns::after {
  display: table;
  clear: both;
  content: '';
}
.floats .column {
  float: left;
  font-size: 1rem;
  margin-right: 5px;
  vertical-align: top;
  width: calc(25% - 6px);
}
.floats .column:last-child {
  margin-right: 0;
}
.inline-blocks .columns {
  font-size: 0;
}
.inline-blocks .column {
  display: inline-block;
  font-size: 1rem;
  margin-right: 5px;
  vertical-align: top;
  width: calc(25% - 6px);
}
.inline-blocks .column:last-child {
  margin-right: 0;
}
.flexbox .columns {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.flexbox .column {
  flex-basis: 0;
  flex-grow: 1;
  margin-right: 5px;
}
.flexbox .column:last-child {
  margin-right: 0;
}
