section {
  padding-left: 200px;
  padding-right: 200px;
}
.column {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.flexbox .column {
  display: flex;
  flex-direction: column;
}
.column h3 {
  border-bottom: 1px solid #EDF0F1;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.column ul {
  list-style: square;
  margin-top: 0;
  padding-left: 1em;
}
.column-dismiss {
  display: inline-block;
  color: blue;
  cursor: pointer;
}
.flexbox .column-dismiss {
  margin-top: auto;
}
