body {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
body .header,
body .nav,
body .content,
body .content-bottom,
body .sidebar-primary,
body .sidebar-secondary,
body .footer {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
body .header,
body .nav,
body .content-bottom,
body .sidebar-primary,
body .sidebar-secondary,
body .footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header {
  background-color: #4D95D8;
}
.header::before {
  content: 'header';
}
.nav {
  background-color: #3F7DB6;
}
.nav::before {
  content: 'nav';
}
.content img {
  max-width: 100%;
  width: 100%;
}
.content p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.content-bottom {
  background-color: #EDF0F1;
}
.content-bottom::before {
  content: 'content bottom';
}
.sidebar-primary {
  background-color: #EBC643;
}
.sidebar-primary::before {
  content: 'sidebar';
}
.sidebar-secondary {
  background-color: #E9A138;
}
.sidebar-secondary::before {
  content: 'sidebar';
}
.footer {
  background-color: #D85740;
}
.footer::before {
  content: 'footer';
}
