body {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
body > * {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
body .blue,
body .dark-blue,
body .gray,
body .yellow,
body .dark-yellow,
body .red {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.blue {
  background-color: #4D95D8;
  grid-area: blue;
}
.blue::before {
  content: 'blue';
}
.dark-blue {
  background-color: #3F7DB6;
  grid-area: dark-blue;
}
.alt3 .dark-blue,
.alt6 .dark-blue {
  display: block;
}
.dark-blue a {
  color: #FFF;
}
.alt3 .dark-blue a,
.alt6 .dark-blue a {
  display: block;
}
.content {
  grid-area: content;
}
.content img {
  max-width: 100%;
  width: 100%;
}
.content p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.gray {
  background-color: #EDF0F1;
  grid-area: gray;
}
.gray::before {
  content: 'gray';
}
.yellow {
  background-color: #EBC643;
  grid-area: yellow;
}
.yellow::before {
  content: 'yellow';
}
.dark-yellow {
  background-color: #E9A138;
  grid-area: dark-yellow;
}
.dark-yellow::before {
  content: 'dark yellow';
}
.red {
  background-color: #D85740;
  grid-area: red;
}
.red::before {
  content: 'red';
}
